# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vim tmp files
*.swp

# clion stuff
**/cmake-build-debug/
**/.idea/

# capnproto stuff
*.capnp.h
*.capnp.cpp

# configuration files
**/config/
*.key

\.catkin_tools/CATKIN_IGNORE

\.catkin_tools/profiles/default/build\.yaml

\.catkin_tools/profiles/default/devel_collisions\.txt

\.catkin_tools/profiles/default/packages/catkin_tools_prebuild/devel_manifest\.txt

\.catkin_tools/profiles/default/packages/catkin_tools_prebuild/package\.xml

\.catkin_tools/README

\.catkin_tools/VERSION

build/\.built_by

build/\.catkin_tools\.yaml

build/catkin_tools_prebuild/catkin_generated/env_cached\.sh

build/catkin_tools_prebuild/catkin_generated/generate_cached_setup\.py

build/catkin_tools_prebuild/catkin_generated/installspace/_setup_util\.py

build/catkin_tools_prebuild/catkin_generated/installspace/\.rosinstall

build/catkin_tools_prebuild/catkin_generated/installspace/catkin_tools_prebuild\.pc

build/catkin_tools_prebuild/catkin_generated/installspace/catkin_tools_prebuildConfig-version\.cmake

build/catkin_tools_prebuild/catkin_generated/installspace/catkin_tools_prebuildConfig\.cmake

build/catkin_tools_prebuild/catkin_generated/installspace/env\.sh

build/catkin_tools_prebuild/catkin_generated/installspace/setup\.bash

build/catkin_tools_prebuild/catkin_generated/installspace/setup\.sh

build/catkin_tools_prebuild/catkin_generated/installspace/setup\.zsh

build/catkin_tools_prebuild/catkin_generated/package\.cmake

build/catkin_tools_prebuild/catkin_generated/pkg\.develspace\.context\.pc\.py

build/catkin_tools_prebuild/catkin_generated/pkg\.installspace\.context\.pc\.py

build/catkin_tools_prebuild/catkin_generated/setup_cached\.sh

build/catkin_tools_prebuild/catkin_generated/stamps/catkin_tools_prebuild/_setup_util\.py\.stamp

build/catkin_tools_prebuild/catkin_generated/stamps/catkin_tools_prebuild/interrogate_setup_dot_py\.py\.stamp

build/catkin_tools_prebuild/catkin_generated/stamps/catkin_tools_prebuild/package\.xml\.stamp

build/catkin_tools_prebuild/catkin_generated/stamps/catkin_tools_prebuild/pkg\.pc\.em\.stamp

build/catkin_tools_prebuild/catkin/catkin_generated/version/package\.cmake

build/catkin_tools_prebuild/cmake_install\.cmake

build/catkin_tools_prebuild/CMakeCache\.txt

build/catkin_tools_prebuild/CMakeFiles/_catkin_empty_exported_target\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/_catkin_empty_exported_target\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/_catkin_empty_exported_target\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/_catkin_empty_exported_target\.dir/progress\.make

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CMakeCCompiler\.cmake

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CMakeCXXCompiler\.cmake

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CMakeDetermineCompilerABI_C\.bin

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CMakeDetermineCompilerABI_CXX\.bin

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CMakeSystem\.cmake

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CompilerIdC/CMakeCCompilerId\.c

build/catkin_tools_prebuild/CMakeFiles/3\.10\.2/CompilerIdCXX/CMakeCXXCompilerId\.cpp

build/catkin_tools_prebuild/CMakeFiles/clean_test_results\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/clean_test_results\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/clean_test_results\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/clean_test_results\.dir/progress\.make

build/catkin_tools_prebuild/CMakeFiles/cmake\.check_cache

build/catkin_tools_prebuild/CMakeFiles/CMakeDirectoryInformation\.cmake

build/catkin_tools_prebuild/CMakeFiles/CMakeError\.log

build/catkin_tools_prebuild/CMakeFiles/CMakeOutput\.log

build/catkin_tools_prebuild/CMakeFiles/CMakeRuleHashes\.txt

build/catkin_tools_prebuild/CMakeFiles/download_extra_data\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/download_extra_data\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/download_extra_data\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/download_extra_data\.dir/progress\.make

build/catkin_tools_prebuild/CMakeFiles/doxygen\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/doxygen\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/doxygen\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/doxygen\.dir/progress\.make

build/catkin_tools_prebuild/CMakeFiles/feature_tests\.bin

build/catkin_tools_prebuild/CMakeFiles/feature_tests\.c

build/catkin_tools_prebuild/CMakeFiles/feature_tests\.cxx

build/catkin_tools_prebuild/CMakeFiles/Makefile\.cmake

build/catkin_tools_prebuild/CMakeFiles/Makefile2

build/catkin_tools_prebuild/CMakeFiles/progress\.marks

build/catkin_tools_prebuild/CMakeFiles/run_tests\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/run_tests\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/run_tests\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/run_tests\.dir/progress\.make

build/catkin_tools_prebuild/CMakeFiles/TargetDirectories\.txt

build/catkin_tools_prebuild/CMakeFiles/tests\.dir/build\.make

build/catkin_tools_prebuild/CMakeFiles/tests\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/CMakeFiles/tests\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/CMakeFiles/tests\.dir/progress\.make

build/catkin_tools_prebuild/CMakeLists\.txt

build/catkin_tools_prebuild/CTestTestfile\.cmake

build/catkin_tools_prebuild/gtest/cmake_install\.cmake

build/catkin_tools_prebuild/gtest/CMakeFiles/CMakeDirectoryInformation\.cmake

build/catkin_tools_prebuild/gtest/CMakeFiles/progress\.marks

build/catkin_tools_prebuild/gtest/CTestTestfile\.cmake

build/catkin_tools_prebuild/gtest/googlemock/cmake_install\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/CMakeDirectoryInformation\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/build\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/depend\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/flags\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/link\.txt

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock_main\.dir/progress\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/build\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/depend\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/flags\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/link\.txt

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/gmock\.dir/progress\.make

build/catkin_tools_prebuild/gtest/googlemock/CMakeFiles/progress\.marks

build/catkin_tools_prebuild/gtest/googlemock/CTestTestfile\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/cmake_install\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/CMakeDirectoryInformation\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/build\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/depend\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/flags\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/link\.txt

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest_main\.dir/progress\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/build\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/cmake_clean\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/depend\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/DependInfo\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/flags\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/link\.txt

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/gtest\.dir/progress\.make

build/catkin_tools_prebuild/gtest/googlemock/gtest/CMakeFiles/progress\.marks

build/catkin_tools_prebuild/gtest/googlemock/gtest/CTestTestfile\.cmake

build/catkin_tools_prebuild/gtest/googlemock/gtest/Makefile

build/catkin_tools_prebuild/gtest/googlemock/Makefile

build/catkin_tools_prebuild/gtest/Makefile

build/catkin_tools_prebuild/Makefile

build/catkin_tools_prebuild/package\.xml

devel/_setup_util\.py

devel/\.built_by

devel/\.private/catkin_tools_prebuild/_setup_util\.py

devel/\.private/catkin_tools_prebuild/\.catkin

devel/\.private/catkin_tools_prebuild/\.rosinstall

devel/\.private/catkin_tools_prebuild/env\.sh

devel/\.private/catkin_tools_prebuild/lib/pkgconfig/catkin_tools_prebuild\.pc

devel/\.private/catkin_tools_prebuild/setup\.bash

devel/\.private/catkin_tools_prebuild/setup\.sh

devel/\.private/catkin_tools_prebuild/setup\.zsh

devel/\.private/catkin_tools_prebuild/share/catkin_tools_prebuild/cmake/catkin_tools_prebuildConfig-version\.cmake

devel/\.private/catkin_tools_prebuild/share/catkin_tools_prebuild/cmake/catkin_tools_prebuildConfig\.cmake

devel/env\.sh

devel/lib/pkgconfig/catkin_tools_prebuild\.pc

devel/setup\.bash

devel/setup\.sh

devel/setup\.zsh

devel/share/catkin_tools_prebuild/cmake/catkin_tools_prebuildConfig-version\.cmake

devel/share/catkin_tools_prebuild/cmake/catkin_tools_prebuildConfig\.cmake

logs/catkin_tools_prebuild/build\.cache-manifest\.000\.log

logs/catkin_tools_prebuild/build\.cache-manifest\.log

logs/catkin_tools_prebuild/build\.cmake\.000\.log

logs/catkin_tools_prebuild/build\.cmake\.log

logs/catkin_tools_prebuild/build\.ctr-nuke\.000\.log

logs/catkin_tools_prebuild/build\.ctr-nuke\.log

logs/catkin_tools_prebuild/build\.loadenv\.000\.log

logs/catkin_tools_prebuild/build\.loadenv\.log

logs/catkin_tools_prebuild/build\.make\.000\.log

logs/catkin_tools_prebuild/build\.make\.log

logs/catkin_tools_prebuild/build\.mkdir\.000\.log

logs/catkin_tools_prebuild/build\.mkdir\.001\.log

logs/catkin_tools_prebuild/build\.mkdir\.log

logs/catkin_tools_prebuild/build\.symlink\.000\.log

logs/catkin_tools_prebuild/build\.symlink\.log

Python/\.ipynb_checkpoints/spacy_test-checkpoint\.ipynb

Python/addressbook\.cap\.np

Python/message\.cap\.np

Python/test\.cap\.np
